*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    padding: 14px 0;
}
.header{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 750px;
}
.content{
    margin: auto;
    width: 90%;
}
.close-menu{
    background-image: url("images/close.png");
}
.open-menu{
    background-image: url("images/open.png");
}
.close-menu, .open-menu{
    width: 32px;
    height: 32px;
    background-size: cover;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 10;
    display: none;

}
header .content .menu{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
header .content .menu a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
header .content .menu a:hover{
    color: #bc4f00;
}

.background-img{
    background-image: url(images/headerImg.webp);
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-img h1 {
    color: white;
    text-align: center;
    padding-bottom: 30px;
    font-size: 50px;
}
.background-img p{
    color: white;
    text-align: center;
}
section{
    padding: 50px 0;
    background-color: #252525;
    box-shadow: 0 0 5px 5px #252525;
}

body section .content .info-title{
    margin-bottom: 100px;
    margin-top: 60px;
}
body section .content .info-title h2{
    color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid #bc4f00;
    padding-bottom: 15px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 100;
}
body footer{
    background-color: #bc4f00;
    margin-top: 20px;
    box-shadow: 0 0 5px 5px #bc4f00;
}
body footer .footer{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 20px 0;
}
body footer .footer p{
    font-size: 14px;
    color: #252525;
}
.scroll-event{
    position: fixed;
    width: 100%;
    background: #252525;
    border-bottom: 1px solid #bc4f00;
}
body .image {
    width: 80%;
    overflow: hidden;
    margin: 100px auto 0;
    box-shadow: inset 1px 0px 20px 20px #00000078;
}

body .image .image-sub-div {
    position: relative;
}

body .image .image-sub-div .prev-div {
    background-image: url('img/prev.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 0 40px;
    height: 100%;
    cursor: pointer;
}
body .image .image-sub-div .prev-div:hover{
    background-color: #00000078;
    box-shadow: 20px 0px 50px 25px #00000078;
    background-size: 90%;
}

body .image .image-sub-div .next-div {
    background-image: url("img/next.png");
    background-repeat: no-repeat;
    background-position-y: 50%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    padding: 0 40px;
    height: 100%;
    cursor: pointer;
}
body .image .image-sub-div .next-div:hover{
    background-color: #00000078;
    box-shadow: -20px 0px 50px 25px #00000078;
    background-size: 90%;
}

body .image .image-sub-div .imgs {
    width: 100%;
    display: -webkit-box;
    position: relative;
    right: 0;
}
body .image .image-sub-div .imgs div {
    width: 100%;
}

body .image .image-sub-div .imgs div img {
    width: 100%;
}
